@{
    ViewData["Title"] = "Categorias";
}

<div class="card card-info">
    <div class="card-header">
        <h3 class="text-center">ACCESORIOS</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
				<input type="hidden" id="id_acce" value="" />
				<label>Descripcion:</label>
				<input type="text" class="form-control" placeholder="Descripcion" id="acce_desc" name="acce_desc">
            </div>
            <div class="col">
                <label>Fecha ingreso:</label>
				<input type="date" class="form-control"  id="acce_fecing" name="acce_fecing">
            </div>
        </div>
        <br />
		<div class="row">			
			<div class="col">
				<label>Observacion:</label>
				<input type="text" class="form-control" placeholder="Observacion" id="acce_obs" name="acce_obs">
			</div>
		</div>
		<br />
        <div class="form-check">
			<input type="checkbox" class="form-check-input" id="acce_act">
            <label class="form-check-label" for="exampleCheck1">Activo?</label>
        </div>
		<br />
		<div class="row">
			<div class="col-md-6">
				<button id="btnsave" class="btn btn-success btn-sm">Guardar</button>
				<button id="btnAddnew" class="btn btn-primary btn-sm">Limpiar Datos</button>
			</div>
		</div>
        <br />
        <table id="tblacce" class="table table-striped table-bordered" style="width: 100%">
            <thead>
                <tr>
					<th class="d-none">id_acce</th>
					<th>Descripcion</th>
                    <th>Fecha</th>
					<th>Observacion</th>
                    <th>Activo</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div >
@section Scripts {	
	<script type="text/javascript">
		$(document).ready(function () {
			$('#tblacce').DataTable({
				"ajax": {					
					"url": "/api/AAccesorios",
					"dataSrc": ""				
				},
				"pageLength": 15,
				 "language": {
                    "lengthMenu": "Mostrar _MENU_ registros por pagina",
                    "zeroRecords": "No se encontraron registros",
                    "info": "Mostrar pagina _PAGE_ de _PAGES_",
                    "infoEmpty": "No se encontraron registros",
                    "infoFiltered": "(filtrado de _MAX_ registros totales)",
                    "search": "Buscar:",
                    "paginate": {
                        "next": "siguiente",
                        "previous": "Anterior"
                    }
				},
                "scrollX": true,
                "responsive": true,								
				"columns": [
					{ data: 'id_acce', "visible": false },
					{ data: 'acce_desc' },
					{ data: 'acce_fecing' },
					{ data: 'acce_obs' },
					{
						data: 'acce_act',
						"render": function (data, type, row){
							if (row.acce_act === true) { return 'Activo'; }
							else { return 'Inactivo'; }					
						} 	
					},
					{
						data: "id", render: function (data, type, row, meta) {
							return "<button class='btn btn-success btn-sm' onclick='Edit(" + JSON.stringify(row) + ")'>Editar</button>" +
								   "<button class='btn btn-danger btn-sm'  onclick='Delete(" + JSON.stringify(row) + ")'>Eliminar</button>";
						}
					}
				]
			});

			$("#btnsave").click(function() {

				var id_acce = $("#id_acce").val();
				var acce_desc = $("#acce_desc").val();
				var acce_fecing = $("#acce_fecing").val();
				var acce_obs = $("#acce_obs").val();
				var acce_act = $("#acce_act").val();
				if (acce_desc === '') {
					swal('Mensaje de advertencia', 'Complete los campos requeridos', 'error');
				}
                else{
					var oAccesorio = {
						id_acce: $.trim($("#id_acce").val()) == "" ? 0 : $("#id_acce").val(),
						acce_desc: $("#acce_desc").val(),
						acce_fecing: $("#acce_fecing").val(),
						acce_obs: $("#acce_obs").val(),
						acce_act: $("#acce_act").prop("checked") ? true : false
					};

					$.post("api/AAccesorios", { oAccesorio: oAccesorio })
					.done(function (data) {
						Reset();
						ReloadGrid();
						swal('Mensaje de confirmacion', 'Registro Grabado', 'success');
					});
				}
				
			});

			$("#btnAddnew").click(function(){
				Reset();
			});
		});

		function Edit(oAccesorio) {
			$("#id_acce").val(oAccesorio.id_acce);
			$("#acce_desc").val(oAccesorio.acce_desc);
			$("#acce_fecing").val(oAccesorio.acce_fecing);
			$("#acce_obs").val(oAccesorio.acce_obs);
			$("#acce_act").val(oAccesorio.acce_act);
		}

		function Delete(oAccesorio) {
			var id = oAccesorio.id_acce;
			$.ajax({
				url: "api/AAccesorios/" + id,
				type: "DELETE",
				success: function(result){										 
					 swal('Mensaje de confirmacion', 'Registro eliminado', 'success');
					 ReloadGrid();
				}
			});											
		}

		function Reset() {
			$("#id_acce").val(0);
			$("#acce_desc").val("");
			$("#acce_fecing").val("");
			$("#acce_obs").val("");
			
		}
		function ReloadGrid() {
			$("#tblacce").DataTable().clear();
			$("#tblacce").DataTable().ajax.reload();
		}

	</script>
}