@{
	ViewData["Title"] = "Horario";
}

<div class="card card-info">
	<div class="card-header">
		<h3 class="text-center">HORARIOS</h3>
	</div>
	<div class="card-body">
		<div class="row">
			<div class="col">
				<input type="hidden" id="id_hordep" value="" />
				<label>Espacio Deportivo:</label>
				<select class="form-control" id="id_espdep" asp-items="@(new SelectList(ViewBag.espdepor, "id_espdep", "espdep_desc"))">
					<option>Seleccione espacio deportivo</option>
				</select>
			</div>
			<div class="col">
				<label>Cliente:</label>
				<select class="form-control" id="id_client" asp-items="@(new SelectList(ViewBag.cliente, "id_client", "client_desc"))">
					<option>Seleccione cliente</option>
				</select>
			</div>
		</div>
		<br />		
		<div class="row">
			<div class="col">
				<label>Fecha y hora ingreso:</label>				
				<input type="datetime-local" class="form-control datepicker" id="hordep_fecing" name="hordep_fecing" />
			</div>
			<div class="col">
				<label>Fecha y hora salida:</label>
				<input type="datetime-local" class="form-control datepicker" id="hordep_fecsal" name="hordep_fecsal" />
			</div>
		</div>
		<br />
		<div class="row">
			<div class="col">
				<label>Descripcion:</label>
				<input type="text" class="form-control" placeholder="Descripcion" id="hordep_desc" name="hordep_desc" />
			</div>
			<div class="col">
				<label>Observacion:</label>
				<input type="text" class="form-control" placeholder="Observacion" id="hordep_obse" name="hordep_obse" />
			</div>
		</div>		
		<br />
		<div class="row">
			<div class="col-md-6">
				<button id="btnsave" class="btn btn-success btn-sm">Guardar</button>
				<button id="btnAddnew" class="btn btn-primary btn-sm">Limpiar Datos</button>
			</div>
		</div>
		<br />
		<table id="tblhorar" class="table table-sm table-striped table-bordered content-table" style="width: 100%">
			<thead>
				<tr>
					<th class="d-none">id_hordep</th>
					<th class="d-none">id_espdep</th>
					<th class="d-none">id_client</th>
					<th>Cliente</th>
					<th>Espacio Deportivo</th>
					<th>Descripcion</th>
					<th>Fecha y hora ingreso</th>
					<th>Fecha y hora salida</th>
					<th>Observacion</th>
					<th>Estado</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
	</div>
</div>
@section Scripts {
	<script type="text/javascript">	
		$(document).ready(function () {		

			$(function () {
				$("#id_espdep").select2({
				});

				$("#id_client").select2({
				});
			});		

			$('#tblhorar').DataTable({
				"ajax": {
					"url": "/api/AHorarios",
					"dataSrc": ""
				},
				"pageLength": 15,
				"language": {
					"lengthMenu": "Mostrar _MENU_ registros por pagina",
					"zeroRecords": "No se encontraron registros",
					"info": "Mostrar pagina _PAGE_ de _PAGES_",
					"infoEmpty": "No se encontraron registros",
					"infoFiltered": "(filtrado de _MAX_ registros totales)",
					"search": "Buscar:",
					"paginate": {
						"next": "siguiente",
						"previous": "Anterior"
					}
				},
				"scrollX": true,
				"responsive": true,
				"columns": [
					{ data: 'id_hordep', "visible": false },
					{ data: 'id_espdep', "visible": false },
					{ data: 'id_client', "visible": false },
					{ data: 'client_desc' },
					{ data: 'espdep_desc' },
					{ data: 'hordep_desc' },
					{ data: 'hordep_fecing' },
					{ data: 'hordep_fecsal' },
					{ data: 'hordep_obse' },
					{
						data: 'hordep_tipo',
						"render": function (data, type, row) {
							if (row.hordep_tipo === 'RES') { return 'Reservado'; }
							else if (row.hordep_tipo === 'PAG') { return 'Pagado'; }
							else { return 'Generado'; }
						}
					},
					{
						data: "id", render: function (data, type, row, meta) {
							return "<button class='btn btn-success btn-sm' onclick='Edit(" + JSON.stringify(row) + ")'>Editar</button>" +
								"<button class='btn btn-danger btn-sm'  onclick='Delete(" + JSON.stringify(row) + ")'>Eliminar</button>";
						}
					}
				]
			});

			$("#btnsave").click(function () {

				var id_hordep = $("#id_hordep").val();
				var id_espdep = $("#id_espdep").val();
				var id_client = $("#id_client").val();
				var hordep_desc = $("#hordep_desc").val();
				var hordep_fecing = $("#hordep_fecing").val();
				var hordep_fecsal = $("#hordep_fecsal").val();
				var hordep_obse = $("#hordep_obse").val();
				if (hordep_desc === '' ) {
					swal('Mensaje de advertencia', 'Complete los campos requeridos', 'error');
				}
				else {
					var oHorario = {
						id_hordep: $.trim($("#id_hordep").val()) == "" ? 0 : $("#id_hordep").val(),
						id_espdep: $.trim($("#id_espdep").val()) == "" ? 0 : $("#id_espdep").val(),
						id_client: $.trim($("#id_client").val()) == "" ? 0 : $("#id_client").val(),
						hordep_desc: $("#hordep_desc").val(),
						hordep_fecing: $("#hordep_fecing").val(),
						hordep_fecsal: $("#hordep_fecsal").val(),
						hordep_obse: $("#hordep_obse").val(),
					};

					$.post("/api/AHorarios", { oHorario: oHorario })
						.done(function (result) {
							if (result === 'S') {
								Reset();
								ReloadGrid();
								swal('Mensaje de confirmacion', 'Registro Grabado', 'success');
							}
							else{
								swal('Mensaje de advertencia', 'Horario repetido, por favor escoja otro', 'error');
							}
						
						});
				}

			});

			$("#btnAddnew").click(function () {
				Reset();
			});
		});

		function Edit(oHorario) {
			$("#id_hordep").val(oHorario.id_hordep);
			$("#id_espdep").val(oHorario.id_espdep).trigger("change");
			$("#id_client").val(oHorario.id_client).trigger("change");
			$("#hordep_desc").val(oHorario.hordep_desc);
			$("#hordep_fecing").val(oHorario.hordep_fecing).trigger("change");
			$("#hordep_fecsal").val(oHorario.hordep_fecsal).trigger("change");
			$("#hordep_obse").val(oHorario.hordep_obse);

		}

		function Delete(oHorario) {
			var id = oHorario.id_hordep;
			$.ajax({
				url: "/api/AHorarios/" + id,
				type: "DELETE",
				success: function (result) {
					swal('Mensaje de confirmacion', 'Registro eliminado', 'success');
					ReloadGrid();
				}
			});
		}

		function Reset() {
			$("#id_hordep").val(0);
			$("#id_espdep").val("").trigger("change");
			$("#id_client").val("").trigger("change");
			$("#hordep_desc").val("");
			$("#hordep_fecing").val("").change();
			$("#hordep_fecsal").val("").change();
			$("#hordep_obse").val("");
		}
		function ReloadGrid() {
			$("#tblhorar").DataTable().clear();
			$("#tblhorar").DataTable().ajax.reload();
		}

	</script>
}