@{
	ViewData["Title"] = "Tipo deportivo";
}

<div class="card card-info">
	<div class="card-header">
		<h3 class="text-center">TIPO DEPORTIVO</h3>
	</div>
	<div class="card-body">
		<div class="row">
			<div class="col">
				<input type="hidden" id="id_tipdep" value="" />
				<label>Descripcion:</label>
				<input type="text" class="form-control" placeholder="Tipo deportivo" id="tipdep_desc" name="tipdep_desc">
			</div>
		</div>
		<br />
		<div class="form-check">
			<input type="checkbox" class="form-check-input" id="tipdep_act">
			<label class="form-check-label" for="exampleCheck1">Activo?</label>
		</div>
		<br />
		<div class="row">
			<div class="col-md-6">
				<button id="btnsave" class="btn btn-success btn-sm">Guardar</button>
				<button id="btnAddnew" class="btn btn-primary btn-sm">Limpiar Datos</button>
			</div>
		</div>
		<br />
		<table id="tbltipdep" class="table table-striped table-bordered" style="width: 100%">
			<thead>
				<tr>
					<th class="d-none">id_tipdep</th>
					<th>Descripcion</th>
					<th>Activo</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
	</div>
</div>
@section Scripts {
	<script type="text/javascript">
		$(document).ready(function () {
			$('#tbltipdep').DataTable({
				"ajax": {
					"url": "/api/ATipodeportivo",
					"dataSrc": ""
				},
				"pageLength": 15,
				"language": {
					"lengthMenu": "Mostrar _MENU_ registros por pagina",
					"zeroRecords": "No se encontraron registros",
					"info": "Mostrar pagina _PAGE_ de _PAGES_",
					"infoEmpty": "No se encontraron registros",
					"infoFiltered": "(filtrado de _MAX_ registros totales)",
					"search": "Buscar:",
					"paginate": {
						"next": "siguiente",
						"previous": "Anterior"
					}
				},
				"scrollX": true,
				"responsive": true,
				"columns": [
					{ data: 'id_tipdep', "visible": false },
					{ data: 'tipdep_desc' },
					{
						data: 'tipdep_act',
						"render": function (data, type, row) {
							if (row.tipdep_act === true) { return 'Activo'; }
							else { return 'Inactivo'; }
						}
					},
					{
						data: "id", render: function (data, type, row, meta) {
							return "<button class='btn btn-success btn-sm' onclick='Edit(" + JSON.stringify(row) + ")'>Editar</button>" +
								"<button class='btn btn-danger btn-sm'  onclick='Delete(" + JSON.stringify(row) + ")'>Eliminar</button>";
						}
					}
				]
			});

			$("#btnsave").click(function () {

				var id_tipdep = $("#id_tipdep").val();
				var tipdep_desc = $("#tipdep_desc").val();
				var tipdep_act = $("#tipdep_act").val();
				if (tipdep_desc === '') {
					swal('Mensaje de advertencia', 'Complete los campos requeridos', 'error');
				}
				else {
					var oTipdep = {
						id_tipdep: $.trim($("#id_tipdep").val()) == "" ? 0 : $("#id_tipdep").val(),
						tipdep_desc: $("#tipdep_desc").val(),
						tipdep_act: $("#tipdep_act").prop("checked") ? true : false
					};

					$.post("api/ATipodeportivo", { oTipdep: oTipdep })
						.done(function (data) {
							Reset();
							ReloadGrid();
							swal('Mensaje de confirmacion', 'Registro Grabado', 'success');
						});
				}

			});

			$("#btnAddnew").click(function () {
				Reset();
			});
		});

		function Edit(oTipdep) {
			$("#id_tipdep").val(oTipdep.id_tipdep);
			$("#tipdep_desc").val(oTipdep.tipdep_desc);
			$("#tipdep_act").val(oTipdep.tipdep_act);
		}

		function Delete(oTipdep) {
			var id = oTipdep.id_tipdep;
			$.ajax({
				url: "api/ATipodeportivo/" + id,
				type: "DELETE",
				success: function (result) {
					swal('Mensaje de confirmacion', 'Categoria eliminada', 'success');
					ReloadGrid();
				}
			});
		}

		function Reset() {
			$("#id_tipdep").val(0);
			$("#tipdep_desc").val("");
			$("#tipdep_act").val("");
		}
		function ReloadGrid() {
			$("#tbltipdep").DataTable().clear();
			$("#tbltipdep").DataTable().ajax.reload();
		}

	</script>
}